section.new-tweet{
  display:none;
} 
textarea{
  width:100%;
  border-top :none;
  border-right: none;
  border-left: none;
  border-bottom-width: 1mm;
  border-bottom-color: black;
  font-weight: bloder;
  color: black;
  resize: none;
  margin-top: 30px;
  background-color: #f4f1ec;
  
}

input{
  display: box;
  font-family: "Bungee";
  color: #FFFFFF;
  background-color: #4056A1;
  border: none;
  outline:none;
}
input:hover {
  background-color: dimgrey;
}
input:active {
  background-color: #545149
}
input:focus{
  outline: dimgrey;
  outline-style: solid;
  outline-width: 2px;
}
input:active button {
  background-color: #545149;
}
.counter{
  display: box;
  font-family:"Bungee";
  float: right;
} 
.negCounter{
  color: #DC143C;
}
.errorHandling{
  color: #DC143C;
  text-align: center;
  font-weight: bolder;
}
